<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <div class="pb-2">
                <a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">
                    <img alt="Footer logo" src="{{ .Site.Params.navbar.brandLogo | default .Site.Params.favicon }}"
                        height="40px" width="40px">
                </a>
            </div>
            &copy; {{ now.Format "2006"}} {{ .Site.Params.copyright }} All Rights Reserved
        </div>
    </div>
    {{ if .Site.Params.footer.links.enable | default false }}
    <div class="row row-cols-6 justify-content-center">
        {{ range .Site.Params.footer.links.items }}
            <a class="text-center link-light" title="{{ .name }}" href="{{ .url }}">{{ .name }}</a>
        {{ end }}
    </div>
    {{ end }}
</div>